body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 9.8rem;
  font-family: blackEme;

  strong {
    font-family: blackEme;
  }
}

h2 {
  font-size: 4.4rem;
  line-height: 5.5rem;
  font-family: blackEme;
}

h3 {
  font-size: 3.2rem;
  font-family: blackEme;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2rem;
}

strong,
span,
a {
  font-size: 1.8rem;
  line-height: 3rem;
}

p {
  font-size: 2rem;
  line-height: 3.8rem;
}

strong {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

small,
button {
  font-size: 1.6rem;
  font-weight: 400;

  font-family: "Montserrat", sans-serif;
}
