.content_wrapper {
	color: $primary-color;
	.inside-content {
		font-size: 2.4rem;
		.center {
			display: flex;
			justify-content: space-between;

			> div {
				display: flex;
				flex-direction: column;
				max-width: 48%;
				padding: 0 2rem;
			}
			@media (max-width: $md-width) {
				padding: 0;
				flex-direction: column;

				> div {
					margin-top: 2.4rem;
					max-width: 100%;
				}
			}
		}

		h2 {
			font-size: 4.4rem;
			max-width: 48%;
			@media (max-width: $md-width) {
				padding: 0 2rem;
				max-width: 100%;
			}
		}

		strong {
			font-size: 3.2rem;
		}

		p {
			display: flex;
			flex-direction: column;
		}

		ul {
			li {
				margin-top: 8rem;
			}
		}
	}

	.margin-box {
		@include m-t-200;
	}

	.double-image {
		@include m-t-300;
		.center {
			display: flex;

			> div {
				max-width: 48%;
				margin-left: 8rem;
				height: 80rem;
				display: flex;
				flex-direction: column;
				margin-top: 15rem;

				&:first-child {
					margin-left: 0;
					margin-top: 0;
				}

				.outer-image {
					height: 72rem;

					img {
						object-fit: cover;
					}
				}
			}

			@media (max-width: $md-width) {
				padding: 0;
				flex-direction: column;

				> div {
					max-width: 100%;
					margin-left: 0;
					height: auto;
					margin-top: 5rem;
				}

				.outer-image {
					height: 40vh !important;
				}
			}
		}
	}

	.description {
		text-align: center;
		font-size: 2.4rem;
		margin-top: 4rem;
	}

	@media (max-width: $sm-width) {
		.description {
			font-size: 1.8rem;
		}
	}
	.outer-single_image {
		@include m-t-300;
	}

	@media (max-width: $md-width) {
		.outer-single_image {
			.center {
				max-width: 100%;
				padding: 0;
			}
		}
	}

	.single-image {
		background: url("../../public/images/yetiyap/yetiyaP-header_6.png") top center fixed;
		background-size: cover !important;
		height: 80vh;
		width: 100%;
		margin-top: 5rem;
		margin-bottom: 5rem;

		@media (max-width: $md-width) {
			max-height: 40vh;
		}
	}

	.single-image-itahari {
		background: url("../../public/images/IM_contents/IM-05.jpg") top center fixed;
	}
	.single-image-itahari-two {
		background: url("../../public/images/IM_contents/IM-08.jpg") top center fixed;
	}

	.single-image-driving {
		background: url("../../public/images/driving_sales/drivingsales.jpg") top center;
	}
}

@media (max-width: $sm-width) {
	.content_wrapper {
		.double-image .center .outer-image {
			height: auto !important;
		}
	}
}
