/* the slides */

.gallary .shown-cursor {
	display: flex !important;
}

.gallary .slick-slide > div > div {
	padding: 0 15px;
	outline: none;
}

.gallary .splide:hover {
	cursor: none;
}

/* the parent */
