.top {
	height: 100vh;
}

.outer-title {
	max-width: 1277px;
	margin: auto;
	padding: 0 2rem;

	h2 {
		font-size: 7rem;
		line-height: 9rem;
		margin-top: 5rem;
	}
}

.title {
	position: absolute;
	top: 10rem;

	// left: 2%;
	// transform: translateX(2%);
	> div {
		height: calc(100vh - 10rem);
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	p,
	strong {
		font-size: 2.4rem;
		margin-bottom: 1rem;
		position: relative;
		z-index: 100;
	}
}

section {
	h1 {
		margin-top: 12rem;
		color: $primary-color;
		margin-bottom: 15rem;
	}
	.center {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.card:nth-child(even) {
		@include p-t-200;
	}
}

.project-section,
.contact-section {
	margin-top: 8rem;
}

.initialRendering {
	height: 100vh;
	background-color: $primary-color;
	width: 100vw;
	position: fixed;
	// left: 0;
	// top: 0;
	z-index: 1000;
}

.home .initialRendering {
	background-color: $secondary-color;
}

article {
	color: $primary-color;

	.title-intro {
		margin-top: 20rem;

		@media (max-width: $lg-width) {
			margin-top: 18rem;
		}
		@media (max-width: $md-width) {
			margin-top: 15rem;
		}
		@media (max-width: $sm-width) {
			margin-top: 10rem;
		}

		h3 {
			font-family: "Montserrat", sans-serif;
			font-weight: 700;
		}
	}
	h1 {
		margin-top: 2.4rem;
		margin-bottom: 6rem;
		width: 90%;
		line-height: 9rem;
		font-size: 7rem;

		@media (max-width: $lg-width) {
			font-size: 5.6rem;
			line-height: 6rem;
		}
		@media (max-width: $md-width) {
			font-size: 4.2rem;
			line-height: 5rem;
		}

		@media (max-width: $sm-width) {
			font-size: 3.2rem;
			line-height: 4rem;
		}
	}

	.about-client {
		display: flex;
		h4 {
			font-family: blackEme;
		}
		span {
			font-size: 1.4rem;
		}

		@media (max-width: $sm-width) {
			span {
				font-size: 1rem;
			}
		}

		> div:last-child {
			margin-left: 12rem;
		}
	}
}

.parallax {
	background: url("../../public/images/yetiyap/yetiyaP-header_6.png") top center fixed;
	background-size: cover !important;
	height: 100vh;
	max-width: 100%;
	margin: 25rem 0;

	@media (max-width: $lg-width) {
		margin: 20rem 0;
	}

	@media (max-width: $md-width) {
		margin: 15rem 0;
		height: 40vh;
	}

	@media (max-width: $sm-width) {
		margin: 10rem 0;
		max-height: 30vh;
	}
}

.parallax-itahari {
	background: url("../../public/images/IM_contents/banner_1.jpg") top center fixed;
}
.parallax-global {
	background: url("../../public/images/global_ime/main.gif") top center fixed;
}

.yeti-parallax-two {
	background: url("../../public/images/yetiyap/2.png") top center fixed;
}

.global-parallax-two {
	background: url("../../public/images/global_ime/global_header.png") top center fixed;
}

.itahari-parallax-two {
	background: url("../../public/images/IM_contents/banner_3.jpg") top center fixed;
}
.itahari-parallax-three {
	background: url("../../public/images/IM_contents/header_2.png") top center fixed;
}

.parallax-driving {
	background: url("../../public/images/driving_sales/driving_1.png") top center fixed;
}
.driving-parallax-two {
	background: url("../../public/images/driving_sales/drivingsales1.jpg") top center fixed;
}
.driving-parallax-three {
	background: url("../../public/images/driving_sales/dribving.png") top center fixed;
}

.intro {
	@include m-t-300;
}
.about-page-intro {
	.about {
		padding-bottom: 0;
	}
}

footer {
	@include m-t-300;
	background-color: $primary-color;
}

@media (max-width: $lg-width) {
	.outer-title {
		h2 {
			font-size: 5rem;
			line-height: 7rem;
		}
	}

	.title {
		p,
		strong {
			font-size: 2rem;
		}
	}
}
@media (max-width: $md-width) {
	.outer-title {
		h2 {
			font-size: 4rem;
			line-height: 6rem;
		}
	}

	.title {
		p,
		strong {
			font-size: 1.6rem;
		}
	}
}
@media (max-width: $sm-width) {
	.outer-title {
		h2 {
			font-size: 3.2rem;
			line-height: 4rem;
		}
	}

	.title {
		p,
		strong {
			font-size: 1.2rem;
		}
	}

	section {
		.center {
			max-width: 100%;
			padding: 0;
			display: block;
		}
		.card:not(:first-child) {
			padding-top: 7rem;
		}
	}
}
